
*{
    color: blue;
}

p, span { 

    color: red;
    width: 300px;
}
h1{ 
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    padding: 5px; 
    margin:30px ;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /*padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;*/
    padding: 30px 15px 25px 20px;
    font-weight: bold;
    color: blueviolet;
}
 
section {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }

  #mi_parrafo {
    color: yellow;
    font-size: 23px;
    border: 1px solid orange;
  }
  
  .estaesmiclase {
    font-weight: bold;
    color: lightskyblue;
  }

  section h1 {
  font-weight: 400px;
  }