

body{
    background-color: #7AA874;
}

.titulo {
color: #F7DB6A;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .titulo {
        
        font-size: 32px;

        color: #EBB02D;
        }

    .subtitulo {
        color: white;
        font-size: 20px;
      }

    .tarjetas {
        display: flex;
        gap: 10px;
    }
  
.tarjeta-de-pokemon {
    width: 100px;
    height: 100px;
    background: #EBB02D;
    padding: 10px;
    box-sizing: border-box;
    margin: 50px;
    border: 5px solid #D864A9;
    border-radius: 100px;
}

input {
    display: none;
}